In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('C:\\Users\\BIT\\Downloads\\jira_dataset_with_random_blocked_by.csv')

In [3]:
df.head()

,Issue_ID,Project_Key,Summary,Issue_Type,Status,Priority,Assignee,Reporter,Created_Date,Due_Date,Story_Points,Sprint,Time_Spent,Avg_Time_To_Completion,Time_Spent_Till_Now,Blocked_By
0,APP-100,APP,Method low cost,Task,To Do,High,timothy,timothy,11-12-2024,24-12-2024,NaN,Sprint 2,23.0,16,5,NaN
1,APP-101,APP,Kid same hour include much magazine,Task,Blocked,Low,nicole,christopher,04-04-2025,22-04-2025,NaN,Sprint 4,35.0,16,5,HR-512
2,APP-102,APP,Yet turn assume military just board,Task,In Progress,Critical,timothy,breanna,19-04-2025,31-05-2025,NaN,Sprint 5,25.0,16,7,NaN
3,APP-103,APP,Street film service these generation either an...,Task,In Progress,Critical,peter,carol,25-01-2025,08-02-2025,NaN,Sprint 4,7.0,16,11,NaN
4,APP-104,APP,Thousand someone truth medical if,Story,To Do,Low,alexander,susan,14-02-2025,13-03-2025,3.0,Sprint 10,31.0,24,14,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Issue_ID                480 non-null    object
 1   Project_Key             480 non-null    object
 2   Summary                 480 non-null    object
 3   Issue_Type              480 non-null    object
 4   Status                  480 non-null    object
 5   Priority                480 non-null    object
 6   Assignee                480 non-null    object
 7   Reporter                480 non-null    object
 8   Created_Date            480 non-null    object
 9   Due_Date                480 non-null    object
 10  Story_Points            137 non-null    float64
 11  Sprint                  374 non-null    object
 12  Time_Spent              374 non-null    float64
 13  Avg_Time_To_Completion  480 non-null    int64
 14  Time_Spent_Till_Now     480 non-null    int64
 15  Blocked_By              127 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 60.1+ KB

In [5]:
df['Due_Date']=pd.to_datetime(df['Due_Date'])

C:\Users\BIT\AppData\Local\Temp\ipykernel_12052\1575446134.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Due_Date']=pd.to_datetime(df['Due_Date'])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Issue_ID                480 non-null    object
 1   Project_Key             480 non-null    object
 2   Summary                 480 non-null    object
 3   Issue_Type              480 non-null    object
 4   Status                  480 non-null    object
 5   Priority                480 non-null    object
 6   Assignee                480 non-null    object
 7   Reporter                480 non-null    object
 8   Created_Date            480 non-null    object
 9   Due_Date                480 non-null    datetime64[ns]
 10  Story_Points            137 non-null    float64
 11  Sprint                  374 non-null    object
 12  Time_Spent              374 non-null    float64
 13  Avg_Time_To_Completion  480 non-null    int64
 14  Time_Spent_Till_Now     480 non-null    int64
 15  Blocked_By              127 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(2), object(11)
memory usage: 60.1+ KB

In [7]:
df['Created_Date'] = pd.to_datetime(df['Created_Date'], dayfirst=True, errors='coerce')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Issue_ID                480 non-null    object
 1   Project_Key             480 non-null    object
 2   Summary                 480 non-null    object
 3   Issue_Type              480 non-null    object
 4   Status                  480 non-null    object
 5   Priority                480 non-null    object
 6   Assignee                480 non-null    object
 7   Reporter                480 non-null    object
 8   Created_Date            480 non-null    datetime64[ns]
 9   Due_Date                480 non-null    datetime64[ns]
 10  Story_Points            137 non-null    float64
 11  Sprint                  374 non-null    object
 12  Time_Spent              374 non-null    float64
 13  Avg_Time_To_Completion  480 non-null    int64
 14  Time_Spent_Till_Now     480 non-null    int64
 15  Blocked_By              127 non-null    object
dtypes: datetime64[ns](2), float64(2), int64(2), object(10)
memory usage: 60.1+ KB

In [9]:
df['days_provided_to_complete']=(df['Due_Date']-df['Created_Date']).dt.days

In [10]:
from datetime import date

In [11]:
todays=date.today()

In [12]:
todays

datetime.date(2025, 5, 20)

In [13]:
todays=pd.to_datetime(todays)

In [14]:
todays

Timestamp('2025-05-20 00:00:00')

In [15]:
df.sample(2)

,Issue_ID,Project_Key,Summary,Issue_Type,Status,Priority,Assignee,Reporter,Created_Date,Due_Date,Story_Points,Sprint,Time_Spent,Avg_Time_To_Completion,Time_Spent_Till_Now,Blocked_By,days_provided_to_complete
52,APP-152,APP,Price safe a member anything,Task,Blocked,Low,kristen,timothy,2025-03-06,2025-03-23,NaN,Sprint 8,20.0,16,13,INFRA-438,17
453,HR-553,HR,Probably senior gun any yet fine,Bug,To Do,Critical,breanna,james,2025-05-18,2025-06-27,NaN,Sprint 4,23.0,8,7,NaN,40

In [17]:
df.head()

,Issue_ID,Project_Key,Summary,Issue_Type,Status,Priority,Assignee,Reporter,Created_Date,Due_Date,Story_Points,Sprint,Time_Spent,Avg_Time_To_Completion,Time_Spent_Till_Now,Blocked_By,days_provided_to_complete
0,APP-100,APP,Method low cost,Task,To Do,High,timothy,timothy,2024-12-11,2024-12-24,NaN,Sprint 2,23.0,16,5,NaN,13
1,APP-101,APP,Kid same hour include much magazine,Task,Blocked,Low,nicole,christopher,2025-04-04,2025-04-22,NaN,Sprint 4,35.0,16,5,HR-512,18
2,APP-102,APP,Yet turn assume military just board,Task,In Progress,Critical,timothy,breanna,2025-04-19,2025-05-31,NaN,Sprint 5,25.0,16,7,NaN,42
3,APP-103,APP,Street film service these generation either an...,Task,In Progress,Critical,peter,carol,2025-01-25,2025-02-08,NaN,Sprint 4,7.0,16,11,NaN,14
4,APP-104,APP,Thousand someone truth medical if,Story,To Do,Low,alexander,susan,2025-02-14,2025-03-13,3.0,Sprint 10,31.0,24,14,NaN,27

In [18]:
df['Days_remaining1']=(df['Due_Date']-todays)

In [19]:
df.sample()

,Issue_ID,Project_Key,Summary,Issue_Type,Status,Priority,Assignee,Reporter,Created_Date,Due_Date,Story_Points,Sprint,Time_Spent,Avg_Time_To_Completion,Time_Spent_Till_Now,Blocked_By,days_provided_to_complete,Days_remaining1
125,MKT-225,MKT,Number treat work high according box quite,Task,In Progress,Low,breanna,susan,2025-05-08,2025-05-22,NaN,Sprint 8,36.0,16,12,NaN,14,2 days

In [20]:
df.sample()

,Issue_ID,Project_Key,Summary,Issue_Type,Status,Priority,Assignee,Reporter,Created_Date,Due_Date,Story_Points,Sprint,Time_Spent,Avg_Time_To_Completion,Time_Spent_Till_Now,Blocked_By,days_provided_to_complete,Days_remaining1
81,APP-181,APP,Argue travel positive always,Story,Blocked,High,christopher,kristen,2025-02-11,2025-02-17,13.0,Sprint 9,19.0,24,12,APP-114,6,-92 days

In [21]:
df.rename(columns={"Days_remaining1": "Days_remaining"}, inplace=True )

In [22]:
df.sample()

,Issue_ID,Project_Key,Summary,Issue_Type,Status,Priority,Assignee,Reporter,Created_Date,Due_Date,Story_Points,Sprint,Time_Spent,Avg_Time_To_Completion,Time_Spent_Till_Now,Blocked_By,days_provided_to_complete,Days_remaining
388,HR-488,HR,Interview before offer herself few nearly simp...,Bug,Blocked,Critical,lisa,kristen,2025-01-05,2025-02-19,NaN,Sprint 9,39.0,8,1,MKT-261,45,-90 days

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Issue_ID                   480 non-null    object
 1   Project_Key                480 non-null    object
 2   Summary                    480 non-null    object
 3   Issue_Type                 480 non-null    object
 4   Status                     480 non-null    object
 5   Priority                   480 non-null    object
 6   Assignee                   480 non-null    object
 7   Reporter                   480 non-null    object
 8   Created_Date               480 non-null    datetime64[ns]
 9   Due_Date                   480 non-null    datetime64[ns]
 10  Story_Points               137 non-null    float64
 11  Sprint                     374 non-null    object
 12  Time_Spent                 374 non-null    float64
 13  Avg_Time_To_Completion     480 non-null    int64
 14  Time_Spent_Till_Now        480 non-null    int64
 15  Blocked_By                 127 non-null    object
 16  days_provided_to_complete  480 non-null    int64
 17  Days_remaining             480 non-null    timedelta64[ns]
dtypes: datetime64[ns](2), float64(2), int64(3), object(10), timedelta64[ns](1)
memory usage: 67.6+ KB

In [30]:
df['Is Delayed']=np.where((df['Days_remaining'].dt.days<0) & (df['Status']!='Completed') ,1 , 0)

In [31]:
df.sample()

,Issue_ID,Project_Key,Summary,Issue_Type,Status,Priority,Assignee,Reporter,Created_Date,Due_Date,Story_Points,Sprint,Time_Spent,Avg_Time_To_Completion,Time_Spent_Till_Now,Blocked_By,days_provided_to_complete,Days_remaining,Is Delayed
446,HR-546,HR,Each over get goal nation anything learn number,Epic,In Progress,Medium,penny,carol,2025-03-17,2025-04-11,NaN,NaN,NaN,40,5,NaN,25,-39 days,1

In [34]:
df.drop(columns=['Is Delayed'] , inplace=True)

In [38]:
df['Is_Delayed']=np.where((df['Days_remaining'].dt.days<0) & (df['Status']!='Done') , 1 , 0)

In [46]:
df.sample()

,Issue_ID,Project_Key,Summary,Issue_Type,Status,Priority,Assignee,Reporter,Created_Date,Due_Date,Story_Points,Sprint,Time_Spent,Avg_Time_To_Completion,Time_Spent_Till_Now,Blocked_By,days_provided_to_complete,Days_remaining,Is_Delayed
119,APP-219,APP,Place push fine full,Story,Done,Low,lisa,peter,2025-03-03,2025-04-03,13.0,Sprint 8,6.0,24,4,NaN,31,-47 days,0

In [47]:
row = df[df['Issue_ID'] == 'APP-219']

In [50]:
row['Is_Delayed']

119    0
Name: Is_Delayed, dtype: int32

from this -: From Now which project is used to be delayed now

In [108]:
def Project_Delay(proj_name , issue_id):
    r = df[(df['Issue_ID'] == issue_id) & (df['Project_Key'] == proj_name)]
    
    if not r.empty:
        if r['Is_Delayed'].values[0] == 1:
            print("Project is Delayed and Not Completed Yet")
            print("Date to be completed:", r['Due_Date'].values[0])
            print("Current Status:", r['Status'].values[0])
        else:
            print("Project is not delayed.")
    else:
        print("Issue ID not found.")

In [111]:
Project_Delay("APP" ,"APP-201")

Project is not delayed.

How Many %age of Work done :

In [113]:
df.sample()

,Issue_ID,Project_Key,Summary,Issue_Type,Status,Priority,Assignee,Reporter,Created_Date,Due_Date,Story_Points,Sprint,Avg_Time_To_Completion,Time_Spent_Till_Now,Blocked_By,days_provided_to_complete,Days_remaining,Is_Delayed,WorkDone
307,INFRA-407,INFRA,People system concern itself audience,Bug,Blocked,Low,michelle,breanna,2025-05-07,2025-05-15,NaN,Sprint 8,8,1,INFRA-439,8,-5 days,1,12.5

In [114]:
df.loc[df['Status'] == 'To Do', 'Time_Spent_Till_Now'] = 0

In [115]:
df.sample()

,Issue_ID,Project_Key,Summary,Issue_Type,Status,Priority,Assignee,Reporter,Created_Date,Due_Date,Story_Points,Sprint,Avg_Time_To_Completion,Time_Spent_Till_Now,Blocked_By,days_provided_to_complete,Days_remaining,Is_Delayed,WorkDone
190,MKT-290,MKT,Yet subject politics create get,Bug,Done,Low,alexander,wesley,2025-03-13,2025-04-14,NaN,Sprint 1,8,3,NaN,32,-36 days,0,100.0

In [116]:
df['WorkDone']=(df['Time_Spent_Till_Now']/df['Avg_Time_To_Completion'])*100

In [117]:
df.sample()

,Issue_ID,Project_Key,Summary,Issue_Type,Status,Priority,Assignee,Reporter,Created_Date,Due_Date,Story_Points,Sprint,Avg_Time_To_Completion,Time_Spent_Till_Now,Blocked_By,days_provided_to_complete,Days_remaining,Is_Delayed,WorkDone
429,HR-529,HR,Accept onto increase idea,Task,Done,Medium,susan,nicole,2024-12-31,2025-01-13,NaN,Sprint 1,16,5,NaN,13,-127 days,0,31.25

In [118]:
df.loc[df['Status']=='Done' , 'WorkDone']=100

In [119]:
df.sample(10)

,Issue_ID,Project_Key,Summary,Issue_Type,Status,Priority,Assignee,Reporter,Created_Date,Due_Date,Story_Points,Sprint,Avg_Time_To_Completion,Time_Spent_Till_Now,Blocked_By,days_provided_to_complete,Days_remaining,Is_Delayed,WorkDone
193,MKT-293,MKT,Woman create real exactly short,Story,In Progress,Critical,emily,christopher,2024-12-19,2025-01-20,1.0,Sprint 4,24,19,NaN,32,-120 days,1,79.166667
60,APP-160,APP,Report enter leave debate,Bug,In Progress,Critical,alexander,lisa,2025-05-12,2025-06-25,NaN,Sprint 10,8,5,NaN,44,36 days,0,62.500000
275,INFRA-375,INFRA,Final full bed price tax,Bug,In Progress,High,paul,peter,2025-02-06,2025-02-21,NaN,Sprint 7,8,6,NaN,15,-88 days,1,75.000000
314,INFRA-414,INFRA,Ability once company election mouth,Bug,In Progress,Low,nicole,penny,2025-01-17,2025-02-20,NaN,Sprint 9,8,8,NaN,34,-89 days,1,100.000000
242,INFRA-342,INFRA,Clearly eye number often,Task,In Progress,High,emily,alexander,2025-03-24,2025-05-04,NaN,Sprint 1,16,13,NaN,41,-16 days,1,81.250000
120,MKT-220,MKT,Friend Mrs hair hear decide,Story,Blocked,Low,breanna,christopher,2024-12-30,2025-01-24,3.0,Sprint 6,24,16,INFRA-365,25,-116 days,1,66.666667
366,HR-466,HR,Prepare message bank,Epic,In Progress,High,alexander,carol,2025-04-10,2025-05-10,NaN,NaN,40,27,NaN,30,-10 days,1,67.500000
230,MKT-330,MKT,Account someone she dinner short popular,Task,Done,Low,emily,timothy,2025-04-28,2025-06-12,NaN,Sprint 2,16,16,NaN,45,23 days,0,100.000000
291,INFRA-391,INFRA,Sea out pressure defense world occur book,Story,Done,High,wesley,christopher,2025-03-17,2025-04-27,2.0,Sprint 9,24,16,NaN,41,-23 days,0,100.000000
377,HR-477,HR,Baby dark per report everybody,Bug,Blocked,High,kristen,susan,2024-12-28,2025-01-30,NaN,Sprint 8,8,1,APP-149,33,-110 days,1,12.500000

Function for work done to a particular task :

In [129]:

def findworkdone(proj_name , issue_id):
    if issue_id == "ALL":
        filtered = df[df['Project_Key'] == proj_name]
        if not filtered.empty:
            return filtered['WorkDone'].sum() / len(filtered)
        else:
            return 404 
        
    r = df[(df['Issue_ID']==issue_id) & (df['Project_Key']==proj_name)]
    if not r.empty:
          
          return r['WorkDone'].values[0]
    else:
         return 404

In [130]:
print(findworkdone("APP","ALL"))

46.23611111111111

In [131]:
df.sample(2)

,Issue_ID,Project_Key,Summary,Issue_Type,Status,Priority,Assignee,Reporter,Created_Date,Due_Date,Story_Points,Sprint,Avg_Time_To_Completion,Time_Spent_Till_Now,Blocked_By,days_provided_to_complete,Days_remaining,Is_Delayed,WorkDone
103,APP-203,APP,Owner receive themselves everyone without woul...,Bug,Blocked,Low,nicole,shawn,2024-12-17,2025-01-09,NaN,Sprint 8,8,4,HR-489,23,-131 days,1,50.0
420,HR-520,HR,Staff piece population on yard,Epic,Done,Low,timothy,kristen,2024-12-10,2025-01-08,NaN,NaN,40,5,NaN,29,-132 days,0,100.0

//days_provided_to_complete
//input take->project_key
//project that are into progress and also to do and also remaing_days>0 then you should intigrate this data 
//firstly find the days_spents 
//remaining work
//days_spent=workdone
// 1 days = workdone/days_spent
// remaing_days = (workdone/days_spent * remaing_days)>remaing work if it is not then it is in risky condition

In [141]:
df1 = df[(df['Status'].isin(['In Progress', 'Blocked', 'To Do'])) & (df['Days_remaining'].dt.days > 0)]

In [142]:
df1.sample(5)

,Issue_ID,Project_Key,Summary,Issue_Type,Status,Priority,Assignee,Reporter,Created_Date,Due_Date,Story_Points,Sprint,Avg_Time_To_Completion,Time_Spent_Till_Now,Blocked_By,days_provided_to_complete,Days_remaining,Is_Delayed,WorkDone
210,MKT-310,MKT,Civil clear crime article loss full with,Story,To Do,High,penny,lisa,2025-05-11,2025-05-29,3.0,Sprint 8,24,0,NaN,18,9 days,0,0.000000
231,MKT-331,MKT,Cell special century carry,Story,In Progress,Low,emily,james,2025-05-11,2025-06-06,13.0,Sprint 3,24,16,NaN,26,17 days,0,66.666667
132,MKT-232,MKT,Government performance song than drive,Bug,Blocked,Low,jeffery,michelle,2025-04-30,2025-06-11,NaN,Sprint 6,8,4,MKT-284,42,22 days,0,50.000000
476,HR-576,HR,Care do mouth,Bug,To Do,Critical,jeffery,peter,2025-05-17,2025-05-26,NaN,Sprint 4,8,0,NaN,9,6 days,0,0.000000
60,APP-160,APP,Report enter leave debate,Bug,In Progress,Critical,alexander,lisa,2025-05-12,2025-06-25,NaN,Sprint 10,8,5,NaN,44,36 days,0,62.500000

In [155]:
df1['Workleft']=100-df['WorkDone']

C:\Users\BIT\AppData\Local\Temp\ipykernel_12052\3300172469.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Workleft']=100-df['WorkDone']

In [156]:
df1.sample(5)

,Issue_ID,Project_Key,Summary,Issue_Type,Status,Priority,Assignee,Reporter,Created_Date,Due_Date,Story_Points,Sprint,Avg_Time_To_Completion,Time_Spent_Till_Now,Blocked_By,days_provided_to_complete,Days_remaining,Is_Delayed,WorkDone,Workleft
315,INFRA-415,INFRA,Game south white century fly,Epic,Blocked,Medium,timothy,breanna,2025-04-29,2025-05-26,NaN,NaN,40,1,INFRA-342,27,6 days,0,2.5,97.5
37,APP-137,APP,Guess if think environment compare standard make,Bug,Blocked,Low,shawn,timothy,2025-05-15,2025-06-26,NaN,Sprint 10,8,6,INFRA-374,42,37 days,0,75.0,25.0
342,INFRA-442,INFRA,Discover building radio long word bit,Story,To Do,Critical,lisa,susan,2025-05-18,2025-05-29,8.0,Sprint 3,24,0,NaN,11,9 days,0,0.0,100.0
295,INFRA-395,INFRA,Subject former next protect,Bug,Blocked,High,brittany,susan,2025-05-06,2025-06-01,NaN,Sprint 3,8,5,INFRA-375,26,12 days,0,62.5,37.5
410,HR-510,HR,Role American share eat arm list expect,Bug,Blocked,Low,susan,nicole,2025-05-07,2025-05-25,NaN,Sprint 8,8,8,APP-124,18,5 days,0,100.0,0.0

In [159]:
df1['Days_Spent']=df1['days_provided_to_complete']-df1['Days_remaining'].dt.days

C:\Users\BIT\AppData\Local\Temp\ipykernel_12052\1955607463.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Days_Spent']=df1['days_provided_to_complete']-df1['Days_remaining'].dt.days

In [160]:
df1.sample(2)

,Issue_ID,Project_Key,Summary,Issue_Type,Status,Priority,Assignee,Reporter,Created_Date,Due_Date,...,Sprint,Avg_Time_To_Completion,Time_Spent_Till_Now,Blocked_By,days_provided_to_complete,Days_remaining,Is_Delayed,WorkDone,Workleft,Days_Spent
456,HR-556,HR,Scientist theory support fall,Story,To Do,Low,christopher,brittany,2025-04-29,2025-06-01,...,Sprint 2,24,0,NaN,33,12 days,0,0.00,100.00,21
137,MKT-237,MKT,Help plant believe recent already,Task,Blocked,Low,susan,breanna,2025-05-10,2025-05-25,...,Sprint 5,16,1,APP-173,15,5 days,0,6.25,93.75,10

In [166]:
df1['Risky'] = 0

for i, row in df1.iterrows():
    days_remaining = row['Days_remaining'].days if pd.notnull(row['Days_remaining']) else 0
    if row['Days_Spent'] > 0:
        projected_work = (row['WorkDone'] / row['Days_Spent']) * days_remaining
    else:
        projected_work = 0

    if projected_work < row['Workleft']:
        df1.at[i, 'Risky'] = 1

C:\Users\BIT\AppData\Local\Temp\ipykernel_12052\4007066782.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Risky'] = 0

In [168]:
df1[df1['Risky']==0]

,Issue_ID,Project_Key,Summary,Issue_Type,Status,Priority,Assignee,Reporter,Created_Date,Due_Date,...,Avg_Time_To_Completion,Time_Spent_Till_Now,Blocked_By,days_provided_to_complete,Days_remaining,Is_Delayed,WorkDone,Workleft,Days_Spent,Risky
12,APP-112,APP,Painting test allow direction,Epic,Blocked,Medium,carol,jeffery,2025-05-11,2025-05-31,...,40,22,HR-521,20,11 days,0,55.000000,45.000000,9,0
22,APP-122,APP,Kind reach book around research end glass trad...,Epic,In Progress,Medium,penny,alexander,2025-05-07,2025-06-04,...,40,37,NaN,28,15 days,0,92.500000,7.500000,13,0
37,APP-137,APP,Guess if think environment compare standard make,Bug,Blocked,Low,shawn,timothy,2025-05-15,2025-06-26,...,8,6,INFRA-374,42,37 days,0,75.000000,25.000000,5,0
60,APP-160,APP,Report enter leave debate,Bug,In Progress,Critical,alexander,lisa,2025-05-12,2025-06-25,...,8,5,NaN,44,36 days,0,62.500000,37.500000,8,0
132,MKT-232,MKT,Government performance song than drive,Bug,Blocked,Low,jeffery,michelle,2025-04-30,2025-06-11,...,8,4,MKT-284,42,22 days,0,50.000000,50.000000,20,0
213,MKT-313,MKT,Its family herself should forget individual ne...,Bug,In Progress,Critical,wesley,amanda,2025-05-10,2025-06-07,...,8,4,NaN,28,18 days,0,50.000000,50.000000,10,0
231,MKT-331,MKT,Cell special century carry,Story,In Progress,Low,emily,james,2025-05-11,2025-06-06,...,24,16,NaN,26,17 days,0,66.666667,33.333333,9,0
240,INFRA-340,INFRA,Finally set stay marriage goal design,Story,Blocked,High,wesley,christopher,2025-04-24,2025-06-08,...,24,17,HR-524,45,19 days,0,70.833333,29.166667,26,0
257,INFRA-357,INFRA,Too lay imagine three,Task,In Progress,Medium,lisa,paul,2025-05-01,2025-06-13,...,16,13,NaN,43,24 days,0,81.250000,18.750000,19,0
295,INFRA-395,INFRA,Subject former next protect,Bug,Blocked,High,brittany,susan,2025-05-06,2025-06-01,...,8,5,INFRA-375,26,12 days,0,62.500000,37.500000,14,0
317,INFRA-417,INFRA,Image few southern area health them,Task,In Progress,Medium,christopher,susan,2025-05-17,2025-06-29,...,16,14,NaN,43,40 days,0,87.500000,12.500000,3,0
332,INFRA-432,INFRA,Someone much Mr lead,Story,Blocked,Critical,susan,kristen,2025-05-18,2025-06-12,...,24,8,APP-206,25,23 days,0,33.333333,66.666667,2,0
337,INFRA-437,INFRA,Those weight story modern building result ever,Bug,Blocked,Medium,james,wesley,2025-04-29,2025-06-06,...,8,8,MKT-293,38,17 days,0,100.000000,0.000000,21,0
410,HR-510,HR,Role American share eat arm list expect,Bug,Blocked,Low,susan,nicole,2025-05-07,2025-05-25,...,8,8,APP-124,18,5 days,0,100.000000,0.000000,13,0

In [171]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48 entries, 2 to 476
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Issue_ID                   48 non-null     object
 1   Project_Key                48 non-null     object
 2   Summary                    48 non-null     object
 3   Issue_Type                 48 non-null     object
 4   Status                     48 non-null     object
 5   Priority                   48 non-null     object
 6   Assignee                   48 non-null     object
 7   Reporter                   48 non-null     object
 8   Created_Date               48 non-null     datetime64[ns]
 9   Due_Date                   48 non-null     datetime64[ns]
 10  Story_Points               13 non-null     float64
 11  Sprint                     40 non-null     object
 12  Avg_Time_To_Completion     48 non-null     int64
 13  Time_Spent_Till_Now        48 non-null     int64
 14  Blocked_By                 18 non-null     object
 15  days_provided_to_complete  48 non-null     int64
 16  Days_remaining             48 non-null     timedelta64[ns]
 17  Is_Delayed                 48 non-null     int32
 18  WorkDone                   48 non-null     float64
 19  Workleft                   48 non-null     float64
 20  Days_Spent                 48 non-null     int64
 21  Risky                      48 non-null     int64
dtypes: datetime64[ns](2), float64(3), int32(1), int64(5), object(10), timedelta64[ns](1)
memory usage: 9.5+ KB